$button-color: #161D26;

.wapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 18%;
    background-color: rgba(18, 24, 31, 1);
    color: white;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid $button-color;


    .Logo {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid $button-color;
        width: 100%;
        border-right: 2px solid $button-color;
    }
    
    .avatarImg {
        width: 70px;
        height: 70px;
        border-radius: 25px;
        margin-top: 30px;
        
    }
    .Name {
        font-weight: 600;
    }

    .verified {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #C2C2C2;
        gap: 3px;
        
        .text {
            padding-bottom: 2px;
        }

    }

    .menuItem{
        margin-top: 34px;
    }

    .insignt{
        margin: 50px 15px 0 0;
        
        .title{
           padding-left: 20px;
        }
        .icon {
            margin-top: 15px;
        }
        
    }

}